body {
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
}
.header {
  height: 15vh;
  background-color: #ffffffe6;
  border-bottom: 2px solid rgb(227, 221, 221);
  margin-top: 1vh;
  position: relative;
  top: 0;
}
.logo svg {
  min-width: 50px;
  max-width: 50px;
}
.search-bar-group {
  border-radius: 5em !important;

  min-height: 40px;
  max-height: 40px;
  width: 25vw;
}
.search-bar-group button {
  border-radius: 50%;
  width: 50px;
  height: 50px;

  background-color: #ff385c;
}
.search-text {
  border-right: 0.5px solid rgba(200, 192, 192, 0.599);
}
.seller-btn {
  border-radius: 5em;

  min-height: 35px;
  max-height: 35px;
  background-color: #ff2a51;
  color: #ffffff;
}
.content-body {
  height: 100vh;
}
.search-categ input.form-control:focus {
  box-shadow: none;
}
.search-categ input {
  font-size: 16px;
}
.search-click-effect-active {
  filter: drop-shadow(2px 2px 2px #ff2a51);
}
.search-click-effect-disable {
  filter: drop-shadow(1px 1px 1px rgb(145, 144, 144));
}
.dist {
  background-color: #ff2a511c;
  height: 5vh;
  border-radius: 2.3em;
}
.para {
  display: flex;
  justify-content: center;
  align-items: center;
}
.area {
  background-color: #ff2a511c;
  height: 35vh;
  border-radius: 1.5em;
  max-height: 35vh;
  overflow-y: scroll;
  overflow-x: hidden;
}
.area::-webkit-scrollbar {
  width: 10px;
}

.area::-webkit-scrollbar-track {
  border-radius: 10px;
}

.area::-webkit-scrollbar-thumb {
  background: rgba(168, 163, 163, 0.368);
  border-radius: 10px;
}

.area::-webkit-scrollbar-thumb:hover {
  background: rgba(168, 163, 163, 0.368);
}
.dist-cont {
  max-height: 35vh;
  overflow-y: scroll;
}
.dist-cont::-webkit-scrollbar {
  width: 10px;
}

.dist-cont::-webkit-scrollbar-track {
  border-radius: 10px;
}

.dist-cont::-webkit-scrollbar-thumb {
  background: rgba(168, 163, 163, 0.368);
  border-radius: 10px;
}

.dist-cont::-webkit-scrollbar-thumb:hover {
  background: rgba(168, 163, 163, 0.368);
}
.location-tag-active {
  background-color: #ff2a51;

  border-radius: 2.3em;
  color: #ffffff;
}
#form-eff::placeholder {
  letter-spacing: 5px;
  text-align: center;
}
#search-btn {
  max-height: 30px;
  min-height: 30px;
  max-width: 30px;
  min-width: 30px;
}
.swiper {

  width: 100%;
  height: 60vh;
}
.banner1{
  background-image:linear-gradient(to bottom, rgba(255, 42, 81, 0.423), rgba(255, 42, 81, 0.8)), url('images/slider-banner1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
.banner2{
  background-image: linear-gradient(to bottom, #fbddb766,#fbddb793),url('images/slider-banner1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
.banner3{
  background-image:linear-gradient(to bottom, #ebdef096, #ebdef0), url('images/slider-banner1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
.bottle{
  width: 12vw;
}
.banner-text{
  color:white;
}
.content-body{
  position: relative;
  z-index: -10000;
  position: absolute;
  width: 100%; 
  top: 15vh;
   
}


