body {
  font-family: "Roboto", sans-serif;

  overflow-x: hidden;
  margin: 0px;
  border: 0px;
  box-sizing: border-box;
}
.header {
  height: 15vh;
  background-color: #ffffffe6;
  border-bottom: 2px solid rgb(227, 221, 221);
  margin-top: 1vh;
  margin-right: 0;
 



}
.logo svg {
  min-width: 50px;
  max-width: 50px;
}
.search-bar-group {
  border-radius: 5em !important;
  min-height: 40px;
  
  max-height: 40px;
  width: 25vw;
}
.search-bar-group button {
  border-radius: 50%;
  width: 50px;
  height: 50px;

  background-color: #ff385c;
}
.search-text {
  border-right: 0.5px solid rgba(200, 192, 192, 0.599);
}
.seller-btn {
  border-radius: 5em;

  min-height: 35px;
  max-height: 35px;
  background-color: #ff2a51;
  color: #ffffff;
}
.content-body {
  height: 100vh;
}
.search-categ input.form-control:focus {
  box-shadow: none;
}
.search-categ input {
  font-size: 16px;
}
.search-click-effect-active {
  filter: drop-shadow(2px 2px 2px #ff2a51);
}
.search-click-effect-disable {
  filter: drop-shadow(1px 1px 1px rgb(145, 144, 144));
}
.dist {
  background-color: #ff2a511c;
  height: 5vh;
  border-radius: 2.3em;
}
.dist-active{
  background-color: #ff2a51;
  height: 5vh;
  border-radius: 2.3em;
  color: #ffffff;
}
.para {
  display: flex;
  justify-content: center;
  align-items: center;
}
.area {
  background-color: #ff2a511c;
  height: 35vh;
  border-radius: 1.5em;
  max-height: 35vh;
  overflow-y: scroll;
  overflow-x: hidden;
}
.area::-webkit-scrollbar {
  width: 10px;
}

.area::-webkit-scrollbar-track {
  border-radius: 10px;
}

.area::-webkit-scrollbar-thumb {
  background: rgba(168, 163, 163, 0.368);
  border-radius: 10px;
}

.area::-webkit-scrollbar-thumb:hover {
  background: rgba(168, 163, 163, 0.368);
}
.dist-cont {
  max-height: 35vh;
  overflow-y: scroll;
}
.dist-cont::-webkit-scrollbar {
  width: 10px;
}

.dist-cont::-webkit-scrollbar-track {
  border-radius: 10px;
}

.dist-cont::-webkit-scrollbar-thumb {
  background: rgba(168, 163, 163, 0.368);
  border-radius: 10px;
}

.dist-cont::-webkit-scrollbar-thumb:hover {
  background: rgba(168, 163, 163, 0.368);
}
.location-tag-active {
  background-color: #ff2a51;

  border-radius: 2.3em;
  color: #ffffff;
}
#form-eff::placeholder {
  letter-spacing: 5px;
  text-align: center;
}
#search-btn {
  max-height: 30px;
  min-height: 30px;
  max-width: 30px;
  min-width: 30px;
}
.swiper {

  width: 100%;
  height: 60vh;
}
.banner1{
  background-image:linear-gradient(to bottom, rgba(255, 42, 81, 0.423), rgba(255, 42, 81, 0.8)), url('images/slider-banner1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
.banner2{
  background-image: linear-gradient(to bottom, #fbddb766,#fbddb793),url('images/slider-banner1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
.banner3{
  background-image:linear-gradient(to bottom, #ebdef096, #ebdef0), url('images/slider-banner1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
.bottle{
  width: 12vw;
}
.banner-text{
  color:white;
}
.content-body{
  position: relative;
  z-index: -10000;
  position: absolute;
  width: 100%; 
  top: 15vh;

   
}



.product-btn{
  background-color: #ff2a51;
  border-radius: 2.3em;
  border: none;
}
.product-btn:hover{
  background-color: white;
  color: #ff2a51;
}

.bannerPart2{
  height: 50vh;
  border-radius: 2.3em;
}
.bannerPart2-1{
  background-repeat: no-repeat;
  border-radius: 2.3em;

  background-size: cover;
}
.footer{
background-color: #d15a70;
height: 30vh;
}
.product-card{
  background-color: #ffffff;
 min-height:400px;
 max-height:400px;
  width: 240px;
  margin: 20px;
  border-radius: 1.3em;
  box-shadow: 0px 7px 25px rgba(0, 0, 0, 0.08);
}
.product-img img{
width: 240px;
height: 265px;
filter:drop-shadow(0 1px 2px rgba(128, 128, 128, 0.356));
border-radius: 2em;


}
.card-body{
  margin-top: 3vh;
}


.login-head{
  text-align: center;
  margin-top: 15vh;
  margin-bottom: 5vh;
 


}
.login-head-mob{
  text-align: center;

  margin-bottom: 5vh;
 


}

.wrap-input100 {
  width: 100%;
  position: relative;
  border-bottom: 1px solid rgba(255,255,255,0.24);
  margin-bottom: 30px;
}

.input100 {
 
  font-size: 16px;
  color: #fff;
  line-height: 1.2;

  display: block;
  width: 100%;
  height: 45px;
  background: transparent;
  padding: 0 5px 0 38px;
}


input {
	outline: none;
	border: none;
}

textarea {
  outline: none;
  border: none;
}

textarea:focus, input:focus {
  border-color: transparent !important;
}

input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; }
input:focus::-moz-placeholder { color:transparent; }
input:focus:-ms-input-placeholder { color:transparent; }

textarea:focus::-webkit-input-placeholder { color:transparent; }
textarea:focus:-moz-placeholder { color:transparent; }
textarea:focus::-moz-placeholder { color:transparent; }
textarea:focus:-ms-input-placeholder { color:transparent; }

input::-webkit-input-placeholder { color: #fff;}
input:-moz-placeholder { color: #fff;}
input::-moz-placeholder { color: #fff;}
input:-ms-input-placeholder { color: #fff;}

textarea::-webkit-input-placeholder { color: #fff;}
textarea:-moz-placeholder { color: #fff;}
textarea::-moz-placeholder { color: #fff;}
textarea:-ms-input-placeholder { color: #fff;}

.login-btn{
  background-color: #ff2a51;
  border: 0;
  border-radius: 2.3em;
  color: #ffffff;
  padding: 15px;

}
.login-btn-mob{
  background-color: #ff2a51;
  border: 0;
  border-radius: 2.3em;
  color: #ffffff;
  padding: 8px;

}
.signup-btn{
  background-color: #ff2a51;
  border: 2px solid white;
  border-radius: 2.3em;
  color: #ffffff;
  padding: 15px;

}
.signup-intro{
  color: #fff;
  height: 85vh;
  background: rgb(255,142,42);
background: linear-gradient(18deg, rgba(255,142,42,1) 1%, rgba(255,49,78,1) 55%);
border-radius: 0 1.3em 1.3em  0;




}
.login-container{
  
  margin: 0;
  padding: 0;
  
}
.login-front{
box-shadow: 0 5px 10px grey;
border-radius: 1.3em 0 0 1.3em;
 
}

.login-back{
  text-align: center;
  color: #ffffff;
  border-radius: 1.3em 0 0 1.3em;
  transform: translateY(-100%) translateX(100%);
  background: rgb(255,142,42);
background: linear-gradient(18deg, rgba(255,142,42,1) 1%, rgba(255,49,78,1) 55%);

}
.signup-front{
  text-align: center;
  color: #ffffff;
  background: rgb(255,142,42);
background: linear-gradient(18deg, rgba(255,142,42,1) 1%, rgba(255,49,78,1) 55%);
border-radius: 0 1.3em 1.3em 0;
box-shadow: 0 5px 10px grey;
}
.signup-back{
  
  transform: translateY(-100%) translateX(-100%) ;
  background-color: #ffffff;
}
.search-bar-nav{
  width: 100%;
  
  
}

  
.search-bar-group-nav{
  border-radius: 5em !important;
  min-height: 40px;
  
  max-height: 40px;
  width: 100%;
}
.search-bar-group-nav button {
  border-radius: 50%;
  width: 50px;
  height: 50px;

  background-color: #ff385c;
}
.offcanvas {
  border-radius: 1.3em 0 0 1.3em;
}
.search-bar-nav-container{
  background-color: #ffffff;
}
.area-mob{
  transform: translateY(-70%) translateX(100%);
}
#map{
  height: 20vh;
}